<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width" />

        <title>Musique</title>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "frontend/index.css" %}">
    </head>

    <body>
        <div id="app"></div>

        <script>
            var exports;
            WebAssembly.instantiateStreaming(
                fetch("static/frontend/cpp.wasm"), {}
            ).then(results => exports = results.instance.exports);

            function run_wasm() {
                var result = exports.addNums(5, 8);
                console.log(result);
            }
        </script>

        <button onclick="run_wasm()">Trigger</button>       

        <script src="{% static "frontend/main.js" %}"></script>
    </body>
</html>