<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width" />

        <title>Musique</title>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "frontend/index.css" %}">
    </head>

    <body>
        <div id="app"></div>

        <script>
            var Module = {
                onRuntimeInitialized: function() {
                    console.log("result (from html): " + Module.addNums(1, 2));
                }
            };
        </script>

        <script src="{% static "wasm/cpp.js" %}"></script>

        <script type="module" src="{% static "frontend/main.js" %}"></script>
    </body>
</html>